form(action="/login",method="POST")
    label login
    input(id="login" name="login",value="admin")
    label password
    input(id="password" type="password",name="password")
    button(id="pushForm") отправить

//- script(src="js/login.js")
